/* :root{ falta elegir variable de colores}*/

* {
  margin: 0;
  padding: 0;
}
/* body{ 
    font-family:.....
    falta resolver
}*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.logo img {
  max-width: 100px; /* Ajusta el tamaño del logo según tu necesidad */
  height: auto; /* Permite que la altura se ajuste automáticamente */
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px; /* Espacio entre los enlaces */
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffcc00; /* Cambia el color al pasar el mouse por encima */
}

#seccion-con-fondo {
  background-image: url("../imgs/drink-8462392_1280.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  /* color tentativo, es conveniente usar variables de colores */
  color: rgb(229, 44, 27);
  height: 100vh;
}

.titulo-subtit {
  margin: 0;
  padding: 100px;
  text-align: left;
  font-size: larger;
}
.icons {
  width: 30px;
  height: 30px;
}
.icon {
  width: 15px;
  height: 15px;
}
.diseño {
  font-size: 15px;
  font-weight: 10px;
  margin: 500px;
}
