
root {
  --color-blanco:#ffffff;
  --color-negro:#0a0909;
  --color-morado: #54436b;
  --color-verde:#50cb93;
  --color-verde-pálido:#71efa3;
  --color-verde-luz: #acffad;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dfdcdc;
  box-sizing: border-box;
  background-image:url(../imgs/passport-2714675_1280.jpg);
}

#formulario{
  color:#54436b;
  font-size: 0.8rem;
  border-radius:10px;
  padding:50px;
  width:90%;
  max-width:500px;
  margin: auto;
  background-color:#fbf7f7;
  box-shadow: 0px 0px 20px #54436b;
}

h1 {
  color: #0a0909;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-right:6.25rem;
  margin-top: 2rem;
  background-color: #ffffff;
}

h2 {
  color:#50cb93;
  font-size: 1.3rem;
  padding-left: 0.1rem;
  text-align: center;
  padding-right: 1.5rem;
  margin-bottom:3rem;
  font-weight:bold;
  background-color: #ffffff;
}

h4{
  font-size:0.8rem;
  font-variant: small-caps;
  font: weight 100px;
  color:#50cb93;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="correo"],
textarea {
    width: calc(100% - 40px); /* Ancho máximo igual al 100% del contenedor menos 20px de margen */
    max-width: 750px; /* Ancho máximo absoluto*/
    padding: 10px;
    margin-bottom: 10px;
    border: 1.5px solid #50cb93;
    border-radius: 10px;
    font-size: 0.8rem;
    box-sizing: border-box; /* Para incluir el padding y el borde en el cálculo del ancho */
    background-color: #faf8fc;
    align-items: center;
}
#nombre{
   margin-top:5px;
}
#apellido{
  margin-top:5px;
}
#telefono{
  margin-top:5px;
}
#correo{
  margin-top:5px;
}
fieldset{
  padding-left:0.5rem;
  margin-left:0.1rem;
  margin-right:0.1rem;
  border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
    width: 100%; /* Hace que los botones ocupen todo el ancho del contenedor */
    background-color: #acffad;
    border:none;
    outline:none;
    padding:10px 20px;
    font-size:1rem;
    cursor:pointer;
    border-radius:0.3rem;
    margin-top: 10px; /* Añade un espacio superior para separar los botones*/
    margin-bottom: 5px;
    margin-bottom: 5px;
    border:border solid #ffffff;
    cursor:pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #50cb93;
    color: #ffffff;
    margin-bottom: 20px;
}
input[type="file"]:hover{
  background-color:#acffad;
  border-color:#50cb93 ;
}

#mns{
  font-size: 16px;
  color:#54436b;
  margin-right: 8rem;
  position:relative;
  font-weight: bold; 
}

#mns textarea{
  margin-top: 1.2rem;
  border-radius:3px ;
  border-color:#50cb93;
  max-width: 500px;
  max-height: 300px;
  margin-top:0.5rem ;
}

 /*FOOTER  
=============================*/

footer {
  background-color: rgb(20, 19, 19);
  text-align: center;
  padding: 1.5rem 1.5rem 0.8rem 1.5rem; /* Agregar un poco de espacio alrededor del contenido */
}

.icons {
  width: 2rem;
  height: 2rem;
  margin: 0 1.5px; /* Espacio entre los íconos */
}

p {
  font-size: 1rem;
  font-weight: 0.5rem;
} 


/* Medias queries para header y footer-Falta media queries para main */

/* Para dispositivos móviles (celular) */

@media (max-width: 600px) {
  header {
      flex-direction: column;
      text-align: center;
      flex-wrap: wrap;
  }

  nav {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
  }
 
  nav a {
      display: block;
      margin: 0.5em 0;
      flex-wrap: wrap;
  }
   .column {
    flex: 1 1 100%;
  }

   .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footer-content .column {
      width: 100%;
      margin: 0.5em 0;
  } 
  .formulario{
    width: 90%;
  }
  h1{
    padding-left: 2rem;
  }

}

/* Para tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
  
  .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footer-content .column {
      width: 100%;
      margin: 0.5em 0;
  } 
  .formulario{
    width: 70%;
  }
h1{
  padding-left: 4rem ;
}

}

/*Para PC escritorio */
@media (min-width: 1025px) {
  .column {
      flex: 1 1 30%;
  }
  .formulario{
    width: 50%;
  }
  h1{
    padding-left: 6rem;
  }

}