
:root {
  --color-blanco:#ffffff;
  --color-negro:#0a0909;
  --color-verde:#033503;
  --color-naranja:#af3403;
}
 *{
    margin: 0;
    padding: 0;
  } 
  
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:#faf8fc;
  box-sizing:border-box;
}

#formulario{
  /* color:#af3403; */
  font-size: 0.8rem;
  border-radius:0.6rem;
  padding: 3.2rem;
  width:90%;
  max-width:31rem;
  margin: auto;
  background-color:#fbf7f7;
  box-shadow: 0 0 2.5rem#0a0909; 
  background-image:url(../imgs/passport-2714675_1280.jpg);
  background-repeat: no-repeat;
}

h1 {
  color: #0a0909;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-right:6.25rem;
  margin-top: 2rem;
  
}

h2 {
  color:rgb(58, 99, 81);
  font-size: 1.5rem;
  padding-left: 0.1rem;
  text-align: center;
  padding-right: 1.5rem;
  margin-bottom:3rem;
  margin-top:3rem ;
  font-weight:bold;

}

h4{
  font-size:0.9rem;
  font-variant: small-caps;
  font: weight 100px;
  color: #af3403;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="correo"],
textarea {
    width: calc(100% - 40px); /* Ancho máximo igual al 100% del contenedor menos 20px de margen */
    max-width: 750px; /* Ancho máximo absoluto*/
    padding: 10px;
    margin-bottom: 10px;
    border: 1.5px solid #033503;
    border-radius: 10px;
    font-size: 0.8rem;
    box-sizing: border-box; /* Para incluir el padding y el borde en el cálculo del ancho */
    background-color: #faf8fc;
    align-items: center;
}

.formulario_input{
  margin-top: 5px;
  transition: .3 all ease;
}
.formulario_input:focus{
  border: 3px solid rgb(0, 117, 255);
  box-shadow: 3px 0px 20px -10px rgb(33, 33, 33);
  outline: none;
}

/* ESTILOS DE VALIDACION DE FORMULARIO
=========================================*/
.formulario_input-error{
  font-size: 0.7rem;
  margin: 0;
  /* color: rgb(187, 41, 41); */
  display: none;
}
.formulario_input-error-active{
  display: block;
}

.formulario_grupo-incorrecto .formulario_label{
  color:rgb(187, 41, 41);
}
.formulario_grupo-incorrecto .formulario_input{
  border: 3px solid rgb(187, 41, 41);
}

.formulario_mensaje-exito{
  font-size: 1.1rem;
  text-align: center;
  font-weight: 700;
  color:green;
  display: none;
}
.formulario_mensaje-exito-active{
  display: block;
}

fieldset{
  margin-top:0.2rem;
  padding-left:0.9rem;
  margin-left:0.1rem;
  margin-right:0.1rem;
  border-radius:0.40rem;
  background-color:#ffffff;
  color:#0a0909;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

input[type="submit"],
input[type="reset"] {
    width: 100%; /* Hace que los botones ocupen todo el ancho del contenedor */
    background-color: #ffffff;
    border:none;
    outline:none;
    padding:10px 20px;
    font-size:1rem;
    cursor:pointer;
    border-radius:0.3rem;
    margin-top: 10px; /* Añade un espacio superior para separar los botones*/
    margin-bottom: 5px;
    margin-bottom: 5px;
    border:border solid #ffffff;
    cursor:pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color:rgb(58, 99, 81);
    color: #ffffff;
    margin-bottom: 20px;
}
input[type="file"]:hover{
  background-color:#f5936d;
  border-color:#f58052 ;
}

#mns{
  font-size: 0.9rem;
  color:#0a0909;
  margin-right: 8rem;
  position:relative;
  font-weight: bold; 
}

#mns textarea{
  margin-top: 1rem;
  border-radius:0.1rem;
  border-color:#033503;
  max-width: 31rem;
  max-height: 18rem;
  margin-bottom:1rem;
 
}

@media (max-width: 600px){
  main h1, h2{
    margin:7%;
    padding: 0;
  }
  #formulario{
    width: 70%;
    
  }
  .formulario{
    width: 95%;
  }
  .formulario fieldset{
    margin:0;
    padding: 0.7rem;
    min-width: 100%;
  }
  #mns{
    margin-right: 0;
  }
  #file{
    width: 136px;
  }
}

