
body {
  background-color: #e1c2e3; /* Cambia #f0f0f0 por el color que desees */
}


 /* Estilos para el contenedor del formulario */

#formulario {
  max-width: 50rem;
  margin-top: 1.5rem;
  margin-left: 15rem;
  margin-bottom: 1.5rem;
  padding:1rem;
  border: 1px solid #3c0134; /* Agrega el borde */
  border-radius: 10px; /* Hace que las esquinas del borde sean redondeadas */
  background-color: #b964c0;
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
}

h1 {
  color: #0a0909;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding-left:8rem;
}

h2 {
  color: #0a0909;
  font-size: 1.5rem;
  padding-left: 3rem;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: calc(100% - 20px); /* Ancho máximo igual al 100% del contenedor menos 20px de margen */
    max-width: 750px; /* Ancho máximo absoluto */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Para incluir el padding y el borde en el cálculo del ancho */
}

input[type="submit"],
input[type="reset"] {
    width: 100%; /* Hace que los botones ocupen todo el ancho del contenedor */
    background-color: #ebcced;
    color:  #0a0909;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Añade un espacio superior para separar los botones */
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #38ef56;
    color: #ffffff;
}

/* Estilos para el label */
#mns label {
  position:relative /* Establecemos posición relativa */ /*REVISAR SI TRABAJAR CON LAS PROPIEDADES O NO, ver cómo afecta al título de mensaje cuando se le agrega el ;*/
  top:30px; /* Colocamos el label 30px arriba del contenedor */
  left:50%; /* Lo centramos horizontalmente */
  transform: translateX(-50%); /* Lo ajustamos al centro */
}
#mns{
  font-size: 20px;
  color:#0a0909
}

 /*FOOTER  
=============================*/
footer{
    background-color: rgba(243,73, 11);
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom:0.3rem;
    
  }
  .icons {
    width: 2rem;
    height: 2rem;
    padding-inline:2rem;
    padding-bottom: 0.1rem;
  }
  p {
    font-size: 1rem;
    font-weight: 0.5rem;
  }
