/* :root{ falta elegir variable de colores}*/

* {
  margin: 0;
  padding: 0;
}
/* body{ 
    font-family:.....
    falta resolver
}*/

/*HEADER 
============================= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0.625rem 1.25rem;
}

.logo img {
  max-width: 6.25rem;
  height: auto;
}
nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 1.25rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffcc00; /* Cambia el color al pasar el mouse por encima */
}

#seccion-con-fondo {
  background-image: url("../imgs/drink-8462392_1280.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  /* color tentativo, es conveniente usar variables de colores */
  color: rgb(243, 73, 11);
  height: 100vh;
}

.titulo-subtit {
  margin: 0;
  padding: 6.15rem;
  text-align: left;
  font-size: larger;
}

.icon {
  width: 1rem;
  height: 1rem;
}

  /*FOOTER  
=============================*/
footer{
  background-color: rgb(243, 112, 11);
  text-align: center;
  margin-top: 1rem;
  padding-top: 2rem;
  
}
.icons {
  width: 2rem;
  height: 2rem;
  padding-inline:1rem;
}
p {
  font-size: 1rem;
  font-weight: 0.5rem;
}


