 
:root{
  --color-primario: #ff4800;
  --color-fondo-header: var(--color-primario); 
  --color-texto-header: white;
  --color-amarillo-body: rgba(237, 201, 40, 0.876);
  --color-naranja-body: rgba(237, 138, 40, 0.876);
  --color-logo-sombra:rgba(219, 128, 25, 0.5);
}*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background:linear linear-gradient(to right,var(--color-amarillo-body), var(--color-naranja-body),var(--color-amarillo-body));

}

/*HEADER 
============================= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0.625rem 1.25rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
}


.logo img {
  max-width: 6.25rem;
  height: auto;
}
nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 1.25rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffcc00; /* Cambia el color al pasar el mouse por encima */
}

#seccion-con-fondo {
  background-image: url("../imgs/drink-8462392_1280.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  /* color tentativo, es conveniente usar variables de colores */
  color: rgb(63, 63, 63);
  height: 100vh;
}

.titulo-subtit {
  margin: 0;
  padding: 6.15rem;
  text-align: left;
  font-size: larger;
}

.icon {
  width: 1rem;
  height: 1rem;
}

  /*FOOTER  
=============================*/
footer{
  text-align: center;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom:0.3rem; 
  background-color: #333;
  color: #f5f1f1;
  padding: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.icons {
  width: 2rem;
  height: 2rem;
  padding-inline:1rem;
  padding-bottom: 0.1rem;
}

p {
  font-size: 1rem;
  font-weight: 0.5rem;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinear elementos al inicio de cada columna */
  text-align: left;
  
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}


a:hover {
  color: #f3f70a; /* Color rojo al pasar el mouse sobre el enlace */
}




.column {
  flex: 1; /* Que cada columna ocupe el mismo espacio */
  margin-right: 10px; /* Espacio entre columnas */
}

.column:last-child {
  margin-right: 0; /* Eliminar margen derecho de la última columna */
}

/* Estilos para el contenido de cada columna */
.column h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.column p {
  font-size: 14px;
  line-height: 1.5;
}

.column h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.column ul {
    padding: 0;
    text-decoration: none;
    
}


.column ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease; /* Transición de color al hacer hover */
}

.column ul li a:hover {
  color: #0c0c0c; /* Cambia el color al hacer hover */
}


