<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
     <!-- Encabezado -->
     <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="destinos.html">Destinos</a>
            <a href="galeria.html">Galeria</a>
            <a href="contacto.html">Contacto</a>

    </header>

    <main> 
        <section>

        <h1>¿Necesitas ayuda para organizar tu viaje? </h1>
        <h2> Completá el formulario y nos ponemos en contacto con vos.</h2>
        <form action="">
          <fieldset>
            <legend>
              <h3>   Datos personales:</h3>
           </legend>
           <br>
        <div>
         <label for="nombre">Nombre:</label>
         <input type="text" name="name" id="nombre" required>
        </div>
        <br>
        <div>
         <label for="apellido">Apellido</label>
         <input type="text" name="surname" id="apellido" maxlength="20"required>
        </div>
        <br>
        <div>
           <label for="telefono">Teléfono:</label>
             <input type="tel" name="telefono" id="telefono" required>
        </div>
        <br>
        <div>
          <label for="correo">Email:</label>
            <input type="correo" name="correo" id="correo" required>
        </div>
        <br>
        </fieldset>
      <fieldset>
          <legend> 
            <h3>Datos sobre el viaje:</h3>
           </legend>
          <div>
            <p> Cantidad de personas: </p>
            <label for="persona-may">Mayores de 18 años:</label>
            <select name="persona-may" id="persona-may">
                <option value="persona">1 persona</option>
                <option value="persona">2 personas</option>
                <option value="persona">3 personas</option>
                <option value="persona">más de 3 personas</option>
          </select>
          </div>
          <div>
            <label for="persona-men">Menores de 18 años:</label>
            <select name="persona-men" id="persona-men">
                <option value="persona">ninguna</option>
                <option value="persona">1 persona</option>
                <option value="persona">2 personas</option>
                <option value="persona">más de 2 personas </option>
          </select>
          </div>
  
          <div>
            <p>Destino/s de interés: </p>
            <input type="checkbox" name="paises" id="nuestropais" value="nuestropais">
            <label for="nuestropais">Argentina </label>
            <input type="checkbox" name="paises" id="paiseseuro" value="html">
            <label for="paiseseuro">Países europeos </label>

            <input type="checkbox" name=" paises" id="paisesamericasur" value="paisesamericasur">
            <label for="paisesamericasur">América del sur y el Caribe</label>

            <input type="checkbox" name="paises" id="paisesamericanor" value="paisesamericanor">
            <label for="paisesamericanor">América del norte</label>
            <input type="checkbox" name="paises" id="paisesamericanor" value="paisesasia">
            <label for="paisesasia">Asia</label>    
            <input type="checkbox" name="paises" id="otrospaises" value="otrospaises">
            <label for="otrospaises">Otro</label>
          </div>
        </fieldset>
        <br>
        <div>
         <label for="mensaje">Mensaje:</label>
         <textarea name="mensaje" id="mensaje"cols="30" rows="10" maxlength="200"required></textarea>
        </div>
    <br>
    <div>
      <input type="submit" value="Enviar">
    </div> 
    <br>
    <div>
      <input type="reset" value="Borrar">
    </div>

    </form>
        
    </section>
 
    </main>

<!-- Pie de página -->

    <footer>
    </footer>
 
</body>
</html>
