<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/static/imgs/logonuevo_1.jpeg" type="image/png" />
    <link rel="stylesheet" href="../static/css/destinos.css" />
    <link rel="stylesheet" href="../static/css/styles.css"> <!--Enlazar archivo CSS -->
    <link rel="stylesheet" href="../static/css/index.css"> <!-- Enlazar archivo CSS -->

    <title>Destinos | Catorce Viajes</title>
  </head>
<body>
   
    <!-- Encabezado -->
    <header id="header-destinos" class="header">
        
    </header>

    <!-- Contenido principal-->
    <main>
        <h1>Destinos</h1>

        <section id="viajes-nac" class="paquetes">
            <div class="title-destinos">
                <h2>Paquetes Nacionales</h2>
            </div>
            <div class="cards-container">
                
            </div>

        </section>

        <section id="viajes-inter" class="paquetes">
            <div class="title-destinos">
                <h2>Paquetes Internacionales</h2>
            </div>
            <div class="cards-container">
                
            </div>
        </section>
    </main>

    <!-- Pie de página -->

    <footer>
        <!-- <section>
            <img class="icons" src="../static/imgs/gorjeo.png" alt="twitter" color="white"/>
            <img class="icons" src="../static/imgs/facebook.png" alt="facebook" color="white"/>
            <img class="icons" src="../static/imgs/instagram.png" alt="instagram"color= "white" />
            <p><strong>Diseño web desarrollado por GRUPO14FS</strong></p>
        </section> -->
    </footer>
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/data/data-destinos.js"></script>
    <script src="/js/cards.js"></script>
</body>

</html>