<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../static/imgs/logonuevo_1.jpeg" type="image/png" />
    <link rel="stylesheet" href="../static/css/destinos.css" />
    <link rel="stylesheet" href="../static/css/styles.css"> <!--Enlazar archivo CSS -->
    <link rel="stylesheet" href="../static/css/index.css"> <!-- Enlazar archivo CSS -->

    <title>Destinos | Catorce Viajes</title>
</head>

<body>

    <!-- Encabezado -->
    <header id="header-destinos" class="header">

    </header>
    <div class="content"><!--contenedor del espacio del header--></div>

    <!-- Contenido principal-->
    <main>

        <section id="viajes-nac" class="paquetes">
            <div class="title-destinos">
                <h2>
                    <img class="icon-viajes" src="../static/imgs/icon/nacional.png" alt="icono de Argentina">
                    Paquetes Nacionales
                </h2>
            </div>
            <div class="cards-container">

            </div>

        </section>

        <section id="viajes-inter" class="paquetes">
            <div class="title-destinos">
                <h2>
                    <img class="icon-viajes" src="../static/imgs/icon/internacional.png" alt="icono del mundo">
                    Paquetes Internacionales
                </h2>
            </div>
            <div class="cards-container">

            </div>
        </section>
    </main>

    <!-- Pie de página -->

    <footer>
        
    </footer>
    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/data/data-destinos.js"></script>
    <script src="../js/cards.js"></script>
    <script src="../js/toggle-menu.js"></script>
</body>

</html>