<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos</title>
</head>
<body>
     <!-- Encabezado -->
     <header> <nav>
        <a href="../index.html">Inicio</a>
        <a href="destinos.html">Destinos</a>
        <a href="galeria.html">Galeria</a>
        <a href="contacto.html">Contacto</a>
      

    </header>

    <!-- Contenido principal-->
    <main> 
        <h1>Destinos</h1>
        
        <section id="viajes-nac">
            <div id="title-nac">
                <h2>Paquetes Nacionales</h2>
            </div>
            <div class="cards-container">
                <div>
                    <img class="img-card" src="" alt="">
                </div>

                <div class="info-card">
                    <div class="icon-container-card">
                        
                    </div>
                    <div class="offer-card">
                        <div class="date-card"></div>
                        <div class="price-card" ></div>
                    </div>
                    <div class="button-card">
                        <button>Ver Detalles</button>
                        <button>RESERVÁ AHORA</button>
                    </div>
                </div>

                <div>
                    <img class="img-card" src="" alt="">
                </div>

                <div class="info-card">
                    <div class="icon-container-card">
                        
                    </div>
                    <div class="offer-card">
                        <div class="date-card"></div>
                        <div class="price-card" ></div>
                    </div>
                    <div class="button-card">
                        <button>Ver Detalles</button>
                        <button>RESERVÁ AHORA</button>
                    </div>
                </div>

                <div>
                    <img class="img-card" src="" alt="">
                </div>

                <div class="info-card">
                    <div class="icon-container-card">
                        
                    </div>
                    <div class="offer-card">
                        <div class="date-card"></div>
                        <div class="price-card" ></div>
                    </div>
                    <div class="button-card">
                        <button>Ver Detalles</button>
                        <button>RESERVÁ AHORA</button>
                    </div>
                </div>

                <div>
                    <img class="img-card" src="" alt="">
                </div>

                <div class="info-card">
                    <div class="icon-container-card">
                        
                    </div>
                    <div class="offer-card">
                        <div class="date-card"></div>
                        <div class="price-card" ></div>
                    </div>
                    <div class="button-card">
                        <button>Ver Detalles</button>
                        <button>RESERVÁ AHORA</button>
                    </div>
                </div>
            </div>
            
        </section>

        <section id="viajes-inter">
            <div id="title-nac">
                <h2>Paquetes Nacionales</h2>
            </div>
            <div class="cards-container">
                <div>
                    <img class="img-card" src="" alt="">
                </div>

                <div class="info-card">
                    <div class="icon-container-card">
                        
                    </div>
                    <div class="offer-card">
                        <div class="date-card"></div>
                        <div class="price-card" ></div>
                    </div>
                    <div class="button-card">
                        <button>Ver Detalles</button>
                        <button>RESERVÁ AHORA</button>
                    </div>
                </div>

                <div>
                    <img class="img-card" src="" alt="">
                </div>

                <div class="info-card">
                    <div class="icon-container-card">
                        
                    </div>
                    <div class="offer-card">
                        <div class="date-card"></div>
                        <div class="price-card" ></div>
                    </div>
                    <div class="button-card">
                        <button>Ver Detalles</button>
                        <button>RESERVÁ AHORA</button>
                    </div>
                </div>

                <div>
                    <img class="img-card" src="" alt="">
                </div>

                <div class="info-card">
                    <div class="icon-container-card">
                        
                    </div>
                    <div class="offer-card">
                        <div class="date-card"></div>
                        <div class="price-card" ></div>
                    </div>
                    <div class="button-card">
                        <button>Ver Detalles</button>
                        <button>RESERVÁ AHORA</button>
                    </div>
                </div>

                <div>
                    <img class="img-card" src="" alt="">
                </div>

                <div class="info-card">
                    <div class="icon-container-card">
                        
                    </div>
                    <div class="offer-card">
                        <div class="date-card"></div>
                        <div class="price-card" ></div>
                    </div>
                    <div class="button-card">
                        <button>Ver Detalles</button>
                        <button>RESERVÁ AHORA</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

<!-- Pie de página -->

    <footer>
    </footer>
    
</body>
</html>