<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Enlazar archivo CSS -->
    <link rel="stylesheet" href="../static/css/index.css"> <!-- Enlazar archivo CSS -->
    
    

</head>
<body>

  <!-- Encabezado -->
  <header class="header">
    <div class="logo">
      <img src="/static/imgs/logo.jpg" alt="logo-catorce" />
    </div>
    <nav>
      <a href="/index.html">Inicio</a>
      <a href="/templates/destinos.html">Destinos</a>
      <a href="templates/galeria.html">Galeria</a>
      <a href="templates/contacto.html">Contacto</a>
    </nav>
  </header>
       
    
        <!-- Contenido principal-->
        <main> 
           
         <h1>Galeria de Imágenes</h1>
            <div class="gallery-container">
                <div class="image">
                    <img src="../static/imgs/galeria/carlos_paz.jpg" alt="Carlos Paz">
                    <div class="elementor-gallery-item__content"> Villa Carlos Paz </div>
                </div>
                <div class="image">
                    <img src="../static/imgs/galeria/cataratas.jpg" alt="Cataratas del Iguazú">
                    <div class="elementor-gallery-item__content"> Cataratas del Iguazú </div>
                </div>
                <div class="image">
                    <img src="../static/imgs/galeria/perito_moreno.jpg" alt="Glaciar Perito Moreno">
                    <div class="elementor-gallery-item__content"> Glaciar Perito Moreno </div>
                </div>
                <div class="image">
                    <img src="../static/imgs/galeria/mina_clavero.jpg" alt="Mina Clavero">
                    <div class="elementor-gallery-item__content"> Mina Clavero </div>
                </div>
                <div class="image">
                    <img src="../static/imgs/galeria/buenos_aires.jpg" alt="Buenos Aires">
                    <div class="elementor-gallery-item__content"> Buenos Aires </div>
                </div>
                <div class="image">
                    <img src="../static/imgs/galeria/cordoba.jpg" alt="Córdoba">
                    <div class="elementor-gallery-item__content"> Córdoba </div>
                </div>
                <div class="image">
                    <img src="../static/imgs/galeria/cerro.jpg" alt="Cerro 7 colores">
                    <div class="elementor-gallery-item__content"> Cerro 7 colores </div>
                </div>
                <div class="image">
                    <img src="../static/imgs/galeria/la_angostura.webp" alt="Villa La Angostura">
                    <div class="elementor-gallery-item__content"> Villa La Angostura </div>
                </div>
                <div class="image">
                    <img src="../static/imgs/galeria/mendoza.jpg" alt="Mendoza">
                    <div class="elementor-gallery-item__content"> Mendoza </div>
                </div>
                <div class="image">
                    <img src="../static/imgs/galeria/alerces.jpg" alt="Los Alerces">
                    <div class="elementor-gallery-item__content"> Los Alerces </div>
                </div>
                <div class="image">
                    <img src="../static/imgs/galeria/san_ignacio.jpg" alt="Ruinas San Ignacio">
                    <div class="elementor-gallery-item__content"> Ruinas San Ignacio </div>
                </div>
                <div class="image">
                    <img src="../static/imgs/galeria/talampaya.jpeg" alt="Parque Talampaya">
                    <div class="elementor-gallery-item__content"> Parque Talampaya </div>
                </div>

           </div> 
        </main>
    
    
     
</body>
</html>